@model IEnumerable<CRM.Models.MstClass>

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var baseUrl = ViewBag.BaseUrl;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item active"><a href="#">Year</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">

                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                        Add new Year
                    </button>





                    <!-- general form elements -->
                    <div class="card card-primary">


                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Class Name</th>
                                    <th>Create By</th>
                                    <th>Create Date</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Name</td>
                                        <td>@item.CreateBy</td>
                                        <td>@item.CreateDatetime</td>
                                        <td>

                                            <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#editModal" onclick="editClass(@item.Id)">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </a>

                                        </td>
                                        <td>
                                            <a class="btn btn-danger btn-sm" onclick="deleteClass(@item.Id)">
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>



@*Modal Popup Start*@


<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Class</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="editId" />
                    <label>Class Name</label>
                    <input type="text" class="form-control" id="editName" />
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateClass()">Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Year</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Year Name</label>
                    <input type="text" id="className" class="form-control" />
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveClass()"><i class="fas fa-save"></i> Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Model popup End*@





@section Scripts {
    <script type="text/javascript">
        // INSERT
        var BASE_URL = "@baseUrl";
        function saveClass() {
            var name = $("#className").val();

            if (name.trim() === "") {
                alert("Class name required");
                return;
            }

            $.post(BASE_URL+"/Year/Create", { className: name }, function (res) {
                if (res.success) location.reload();
                else alert(res.message);
            });
        }

        // OPEN EDIT POPUP
        function editClass(id) {
            $.get(BASE_URL +"/Year/Get?id=" + id, function (data) {
                $("#editId").val(data.id);
                $("#editName").val(data.name);
                $("#editModal").show();
            });
        }

        // UPDATE
        function updateClass() {
            $.post(BASE_URL +"/Year/Update",
                {
                    id: $("#editId").val(),
                    className: $("#editName").val()
                },
                function (res) {
                    if (res.success) location.reload();
                    else alert(res.message);
                });
        }

        function closeModal() {
            $("#editModal").hide();
        }

        // DELETE
        function deleteClass(id) {
            if (confirm("Are you sure?")) {
                $.post(BASE_URL +"/Year/Delete", { id: id }, function () {
                    location.reload();
                });
            }
        }
    </script>
}
