@model CRM.ModelsForView.FeeViewModel

@{ Layout = "~/Views/Shared/_MasterLayout.cshtml";
                var baseUrl = ViewBag.BaseUrl; }


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item active"><a href="#">Fee</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">

                    <a class="btn btn-default" href="@Url.Action("AddFee", "Fee")">Add new Fee</a>





                    <!-- general form elements -->
                    <div class="card card-primary">


                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>NewOld</th>
                                    <th>Session</th>
                                    <th>Year</th>
                                    <th>NewStudentFee</th>
                                    <th>CMoney</th>
                                    <th>TutionFee</th>
                                    <th>OtherFee</th>
                                    <th>TotalFee</th>
                                    <th>TotalFeeCM</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1; }
                                @if (Model.FeeClassList != null)
                                {
                    @foreach (var item in Model.FeeClassList)
                    {
    <tr>
        <td>@i</td>
        <td>@item.NewOld</td>
        <td>@item.Session</td>
        <td>@item.Year</td>
        <td>@item.NewStudentFee</td>
        <td>@item.CMoney</td>
        <td>@item.TutionFee</td>
        <td>@item.OtherFee</td>
        <td>@item.TotalFee</td>
        <td>@item.TotalFeeCM</td>
        <td>
            <a class="btn btn-danger btn-sm" onclick="DeleteFee(@item.Id)">
                <i class="fas fa-trash">
                </i>
                Delete
            </a>
        </td>
    </tr>i++;
                    }}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@Modal Popup Start@



@Model popup End@


@section Scripts {
    <script type="text/javascript">
        // INSERT
        var BASE_URL = "@baseUrl";
        function saveFee() {

            var className = $('#ddlClass option:selected').text();
            var couseName = $('#ddlCourse option:selected').text();
            var feeId = $('#ddlFee option:selected').val();


            $.post(BASE_URL + "/Fee/FeePost", {
                feeId: feeId,
                className: className,
                couseName: couseName
            }, function (res) {
                if (res.success) location.reload();
                else alert(res.message);
            });
        }

        // OPEN EDIT POPUP
        function editFee(id) {
            $.get(BASE_URL +"/Fee/GetFee?id=" + id, function (data) {
                $("#editId").val(data.id);
                $("#editName").val(data.courseName);
                $("#editModal").show();
            });
        }

        // UPDATE
        function updateClass() {
            $.post("https://localhost:44382/Course/UpdateCourse",
                {
                    id: $("#editId").val(),
                    className: $("#editName").val()
                },
                function (res) {
                    if (res.success) location.reload();
                    else alert(res.message);
                });
        }

        function closeModal() {
            $("#editModal").hide();
        }

        // DELETE
        function DeleteFee(id) {
            if (confirm("Are you sure?")) {
                $.post(BASE_URL + "/Fee/DeleteFee", {
                    id: id
                }, function (res) {
                    location.reload();
                });
            }
        }

    </script>
}