
@model CRM.ModelsForView.StudentPaymentDetailView

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Registration";
    var baseUrl = ViewBag.BaseUrl;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Payment</a></li>
                        <li class="breadcrumb-item active"><a href="#">Payment Detail</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <input type="hidden" id="hdnStudentId" value="@Model.studentFeeDetail.StudentId" />
                    <input type="hidden" id="hdnName" value="@Model.studentDetail.StudentName" />
                    <input type="hidden" id="hdnFatherName" value="@Model.studentDetail.FatherName" />
                    <input type="hidden" id="hdnClass" value="@Model.studentDetail.Class" />
                    <input type="hidden" id="hdnCourse" value="@Model.studentDetail.Course" />
                    <input type="hidden" id="hdnYear" value="@Model.studentDetail.Year" />
                    <input type="hidden" id="hdnSession" value="@Model.studentDetail.Session" />
                    <input type="hidden" id="hdnstudentFeeId" value="@Model.studentFeeDetail.Id" />
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="../../dist/img/user4-128x128.jpg"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">@Model.studentDetail.StudentName</h3>


                            <p class="text-muted text-center">@Model.studentDetail.FatherName</p>
                            <p class="text-muted text-center">@Model.studentDetail.MobileNoOne</p>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-book mr-1"></i> Education</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Class</b> <a class="float-right">@Model.studentDetail.Class</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Course</b> <a class="float-right">@Model.studentDetail.Course</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Year</b> <a class="float-right">@Model.studentDetail.Year</a>
                                </li>
                            </ul>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#Detail" data-toggle="tab">Payment Detail</a></li>
                                <li class="nav-item"><a class="nav-link" href="#PayNow" data-toggle="tab">Pay Now </a></li>
                                <li class="nav-item"><a class="nav-link" href="#History" data-toggle="tab">Payment History</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="Detail">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Fee Name</th>
                                                <th>Progress</th>
                                                <th style="width: 40px">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>New Student Fee</td>
                                                <td></td>
                                                <td><span class="badge bg-danger">@Model.studentFeeDetail.NewStudentFee</span></td>
                                            </tr>
                                            <tr>

                                                <td>Fee</td>
                                                <td></td>
                                                <td><span class="badge bg-danger">@Model.studentFeeDetail.TotalFee</span></td>
                                            </tr>
                                            <tr>

                                                <td>Scholership</td>
                                                <td></td>
                                                <td><span class="badge bg-danger">@Model.studentFeeDetail.OtherFee</span></td>
                                            </tr>
                                            <tr>

                                                <td><strong>Total Fee</strong></td>
                                                <td></td>
                                                <td><span class="badge bg-danger">@Model.studentFeeDetail.TotalFeeAfterDiscount</span></td>
                                            </tr>
                                            <tr>

                                                <td><strong>Paid Fee Amount</strong></td>
                                                <td>
                                                    <div class="progress progress-xs progress-striped active">
                                                        <div class="progress-bar bg-success" style="width: 90%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="badge bg-success">@Model.studentFeeDetail.PaidAmount</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="PayNow">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Recipt</th>
                                                <th style="width: 60%">Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>
                                                    Pay Mode
                                                </td>
                                                <td>
                                                    <select id="ddlPayMode" class="form-control">
                                                        <option>Select</option>ss
                                                        <option>Cashe</option>
                                                        <option>Online</option>
                                                        <option>Check</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>
                                                    Transace ID
                                                </td>
                                                <td>
                                                    <input id="txtTransactionID" class="text-black" type="number" />
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>
                                                    Rec Book No.
                                                </td>
                                                <td>
                                                    <input id="txtRecBookNo" class="text-black" type="number" />
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>
                                                    Recept No.
                                                </td>
                                                <td>
                                                    <input id="txtReceptNo" class="text-black" type="number" />
                                                </td>
                                            </tr>
                                            <tr><td colspan="2"><strong>Head</strong></td></tr>
                                            <tr id="row1">

                                                <td>
                                                    <select id="ddlHead1" class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input id="txtAmount1" class="text-black" type="number" /><i onclick="showNextHead('2')" class="fas fa-plus"></i>
                                                </td>
                                            </tr>
                                            <tr id="row2" style="display:none">

                                                <td>
                                                    <select id="ddlHead2" class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input id="txtAmount2" class="text-black" type="number" /><i onclick="showNextHead('3')" class="fas fa-plus"></i>
                                                </td>
                                            </tr>
                                            <tr id="row3" style="display:none">

                                                <td>
                                                    <select id="ddlHead3" class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input id="txtAmount3" class="text-black" type="number" /><i onclick="showNextHead('4')" class="fas fa-plus"></i>
                                                </td>
                                            </tr>
                                            <tr id="row4" style="display:none">

                                                <td>
                                                    <select id="ddlHead4" class="form-control">
                                                        <option>Select</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input id="txtAmount4" class="text-black" type="number" />
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>
                                                    <strong> Total Pay</strong>
                                                </td>
                                                <td>
                                                    <strong> <input id="txtTotalPay" readonly="readonly" class="text-black" type="number" /> </strong>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">
                                                    <button type="button" onclick="payNow();" class="btn btn-success btn-block"  /><i class="fa fa-bell"></i> Process for Pay </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="History">
                                    pay now333
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->



</div>

<div class="modal fade" id="modal-View">
    <div class="modal-dialog" style="max-width:650px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment Recipt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="line-height: 0.1 !important">
                    <div class="col-md-3">
                        <div class="form-group">
                            BOOK No :
                            <strong><label id="lblReciptBookNo"></label></strong>
                        </div>
                    </div>
                    <div class="col-md-3 float-right"></div>
                    <div class="col-md-3 float-right"></div>

                    <div class="col-md-3 float-right">
                        <div class="form-group">
                            RECEIPT No :
                            <strong><label id="lblReciptNo"></label></strong>
                        </div>
                    </div>
                </div>

                <div class="row" style="line-height: 0.1 !important">
                    <div class="col-md-12">
                        <div class="form-group">
                            NAME OF STUDENT :
                            <strong><label id="lblName"></label></strong>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            FATHER'S NAME :
                            <strong><label id="lblFatherName"></label></strong>
                        </div>
                    </div>

                </div>
                <hr />
                <div class="row" style="line-height: 0.1 !important">
                    <div class="col-md-3">
                        <div class="form-group">
                            Class :
                            <strong><label id="lblClass"></label></strong>
                        </div>
                    </div>
                    <div class="col-md-3 float-right">
                        <div class="form-group">
                            Course :
                            <strong><label id="lblCourse"></label></strong>
                        </div>
                    </div>
                    <div class="col-md-3 float-right">
                        <div class="form-group">
                            Year :
                            <strong><label id="lblYear"></label></strong>
                        </div>
                    </div>

                    <div class="col-md-3 float-right">
                        <div class="form-group">
                            Session :
                            <strong><label id="lblSession"></label></strong>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <strong>FEE DETAIL</strong><br />
                            <ul id="lblHead"></ul>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="float:right; font-size:20px;">
                            Total Pay :
                            <strong><label id="lblTotalPay"></label></strong>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="SavePaymentDetail()"><i class="fas fa-save"> </i>Pay</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        // INSERT

        var BASE_URL = "@baseUrl";

        var classArray = ["BCA", "MCA", "BBA", "MBA"];

        window.onload = function () {

            fillHeadDropdown("1", 'na');

            $('#txtAmount1, #txtAmount2,  #txtAmount3,  #txtAmount4').on('change', function () {
                CalculateTotal();
            });
           
        };

        var varStudentId = 0;
        var varStudentFeeId = 0;
        var varHead1 = "";
        var varAmount1 = 0;
        var varHead2 = "";
        var varAmount2 = 0;
        var varHead3 = "";
        var varAmount3 = 0;
        var varHead4 = "";
        var varAmount4 = 0;

        function CalculateTotal() {
            var temtotalPay1 = parseFloat($("#txtAmount1").val()) || 0;
            var temtotalPay2 = parseFloat($("#txtAmount2").val()) || 0;
            var temtotalPay3 = parseFloat($("#txtAmount3").val()) || 0;
            var temtotalPay4 = parseFloat($("#txtAmount4").val()) || 0;
            $("#txtTotalPay").val(temtotalPay1 + temtotalPay2 + temtotalPay3 + temtotalPay4);
        }


        function payNow() {
            
            varStudentId = $("#hdnStudentId").val();
            varStudentFeeId = $("#hdnstudentFeeId").val();
           
            //------------------Pop Up---------------
            $("#lblReciptBookNo").text($("#txtRecBookNo").val());
            $("#lblReciptNo").text($("#txtReceptNo").val());
            $("#lblName").text($("#hdnName").val());
            $("#lblFatherName").text($("#hdnFatherName").val());
            $("#lblClass").text($("#hdnClass").val());
            $("#lblCourse").text($("#hdnCourse").val());
            $("#lblYear").text($("#hdnYear").val());
            $("#lblSession").text($("#hdnSession").val());

            //------Head detail-----------
            var varFeeDetail = "";
            if ($('#ddlHead1 option:selected').text() != "Select")
            {
                varFeeDetail = varFeeDetail + "<li>" + $('#ddlHead1 option:selected').text() + ": " + $("#txtAmount1").val()  +"</li>";
            }
            if ($('#ddlHead2 option:selected').text() != "Select") {
                varFeeDetail = varFeeDetail + "<li>" + $('#ddlHead2 option:selected').text() + ": " + $("#txtAmount2").val() + "</li>";
            }
            if ($('#ddlHead3 option:selected').text() != "Select") {
                varFeeDetail = varFeeDetail + "<li>" + $('#ddlHead3 option:selected').text() + ": " + $("#txtAmount3").val() + "</li>";
            }
            if ($('#ddlHead4 option:selected').text() != "Select") {
                varFeeDetail = varFeeDetail + "<li>" + $('#ddlHead4 option:selected').text() + ": " + $("#txtAmount4").val() + "</li>";
            }
             
            $("#lblHead").html(varFeeDetail);

            $("#lblTotalPay").text($("#txtTotalPay").val());
            $("#modal-View").modal("show");

           
        }

        function showNextHead(rowNo)
        {
            if (rowNo != "1") {
                var ddlHeadValidation = parseFloat(rowNo) - 1;
                var getValue = $("#ddlHead" + ddlHeadValidation + " option:selected").text();
                if ((getValue == null) || (getValue == "Select"))  //----- Validation for Head dropdown----
                {
                    $("#ddlHead" + ddlHeadValidation).addClass("is-invalid");
                }
                else {
                    $("#ddlHead" + ddlHeadValidation).removeClass("is-invalid");
                    $("#row" + rowNo).show();
                    var tee = rowNo - 1;
                    var ddlName = "ddlHead" + tee;
                    var testoption = $("#" + ddlName + " option:selected").text();
                    fillHeadDropdown(rowNo, testoption);
                }
            }
            else {
                $("#ddlHead" + ddlHeadValidation).removeClass("is-invalid");
                $("#row" + rowNo).show();
                var tee = rowNo - 1;
                var ddlName = "ddlHead" + tee;
                var testoption = $("#" + ddlName + " option:selected").text();
                fillHeadDropdown(rowNo, testoption);
            }

        }

        function fillHeadDropdown(dropDownName, optionRemove)
        {
            debugger;
            classArray = classArray.filter(function (item) {
                return item !== optionRemove;
            });

            $.each(classArray, function (index, value) {
                $("#ddlHead" + dropDownName).append(
                    $("<option></option>").val(value).text(value)
                );
            });
        }

        function SavePaymentDetail()
        {
            $.post(BASE_URL + "/Payment/SavePaymentDetail", {
                studentId: varStudentId,
                studentFeeId: varStudentFeeId,
                recBookNo: $("#txtRecBookNo").val(),
                recNumber: $("#txtReceptNo").val(),
                paymentMode: $('#ddlPayMode option:selected').text(),
                transactionNo: $("#txtTransactionID").val(),
                varHead1: $('#ddlHead1 option:selected').text(),
                varHead2: $('#ddlHead2 option:selected').text(),
                varHead3: $('#ddlHead3 option:selected').text(),
                varHead4: $('#ddlHead4 option:selected').text(),
                varAmount1: $("#txtAmount1").val(),
                varAmount2: $("#txtAmount2").val(),
                varAmount3: $("#txtAmount3").val(),
                varAmount4: $("#txtAmount4").val(),
                totalPay: $("#txtTotalPay").val()
            },
                function (res) {

                    TableData(res)  //--------pass records for generate tabble
                }
            );
        }


    </script>
}